:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-background-color: #f0f0f0;
    --button-border-color: #cccccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: #ffffff;
        --button-background-color: #333333;
        --button-border-color: #666666;
    }
}

body {
    font-family: 'Roboto';
    touch-action: manipulation;
    background-color: var(--background-color);
    color: var(--text-color);
}

.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    text-align: center;
}

.button {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    float: center;
}

.button img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

.button:active {
  transform: scale(0.95);
  filter: drop-shadow(0 0 15px black);
}

.button:focus {
    outline: none;
    background-color: transparent!important;
}

#JohngradeContainer,
#AccessoryContainer {
    flex: auto;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.Johngrade {
    padding: 5px;
    width: 150px;
    text-align: center;
    background-clip: padding-box;
}

.Johngrade button {
    border-radius: 5%;
    border: 3px solid var(--button-border-color);
    color: var(--text-color);
    background-color: var(--button-background-color);
}

.Johngrade img {
    width: 150px;
    height: auto;
    anchor-name: --accessory-anchor;
}

.Johngrade .owned {
    color: green;
    background-color: lightgreen;
    font-weight: bold;
}

.Johngrade .equipped {
    color: blue !important;
    background-color: lightblue !important;
    font-weight: bold;
    pointer-events: none;
}

#ButtonContainer {
    position: relative;
    display: inline-block;
}

/* CSS was created by the devil who actually likes ts */
#AccessoryImage{
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 5px;
    bottom: 50px;
    width: 50%;
    height: auto;
    z-index: 2;
    display: block;
    margin: auto;
}